<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row">
      <div
        class="col-xl-6 d-none d-xl-flex align-items-center justify-content-center"
      >
        <!-- <img src="../../assets/images/you_source.jpg" class="img-fluid" alt=""> -->
      </div>
      <div class="col-xl-6 d-flex align-items-center justify-content-center">
        <form
          class="form shadow-lg rounded p-5 w-100"
          novalidate="novalidate"
          #registerForm="ngForm"
          (ngSubmit)="register()"
        >
          <div class="form-header text-center mb-3">Register</div>
          <div class="form-floating has-validation mb-3">
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Name"
              [class.is-valid]="name.valid"
              [class.is-invalid]="name.invalid && name.touched"
              #name="ngModel"
              [(ngModel)]="request.name"
              required
            />
            <label for="name">Name</label>
            <div id="nameFeedback" class="invalid-feedback">
              <i class="bi bi-exclamation-circle"></i> Name field is required.
            </div>
          </div>
          <div class="form-floating has-validation mb-3">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email"
              [class.is-valid]="email.valid"
              [class.is-invalid]="email.invalid && email.touched"
              #email="ngModel"
              [(ngModel)]="request.userName"
              required
              [pattern]="defaultEmailPattern"
            />
            <label for="email" class="form-label">Email</label>
            <div
              *ngIf="email.errors && (email.invalid || email.touched)"
              id="emailFeedback"
              class="invalid-feedback"
            >
              <span *ngIf="email.errors['required']">
                <i class="bi bi-exclamation-circle"></i> Email Field is
                required.
              </span>
              <span *ngIf="email.errors['pattern']">
                <i class="bi bi-exclamation-circle"></i> Email Field is invalid.
              </span>
            </div>
          </div>
          <div class="form-floating has-validation mb-3">
            <input
              type="{{ passwordType }}"
              name="password"
              id="password"
              class="form-control"
              placeholder="Password"
              [class.is-valid]="password.valid"
              [class.is-invalid]="password.invalid && password.touched"
              #password="ngModel"
              [(ngModel)]="request.password"
              required
              [pattern]="defaultPasswordPattern"
            />
            <label for="password" class="form-label">Password</label>
            <div
              *ngIf="password.errors && (password.invalid || password.touched)"
              id="passwordFeedback"
              class="invalid-feedback"
            >
              <span *ngIf="password.errors['required']">
                <i class="bi bi-exclamation-circle"></i> Password Field is
                required.
              </span>
              <span *ngIf="password.errors['pattern']">
                <i class="bi bi-exclamation-circle"></i> Password Field is
                invalid.
              </span>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="{{ confirmPasswordType }}"
              name="confirmPassword"
              id="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
              [class.is-valid]="
                confirmPassword.valid &&
                request.password === request.confirmPassword
              "
              [class.is-invalid]="
                (confirmPassword.invalid ||
                  request.password !== request.confirmPassword) &&
                confirmPassword.touched
              "
              #confirmPassword="ngModel"
              [(ngModel)]="request.confirmPassword"
              required
              [pattern]="defaultPasswordPattern"
            />
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <div id="passwordFeedback" class="invalid-feedback">
              <ng-container
                *ngIf="
                  confirmPassword.errors &&
                  (confirmPassword.invalid || confirmPassword.touched)
                "
              >
                <span *ngIf="confirmPassword.errors['required']">
                  <i class="bi bi-exclamation-circle"></i> Confirm Password
                  Field is required.
                </span>
                <span *ngIf="confirmPassword.errors['pattern']">
                  <i class="bi bi-exclamation-circle"></i> Confirm Password
                  Field is invalid.
                </span>
              </ng-container>
              <ng-container
                *ngIf="
                  confirmPassword.touched ||
                  request.password !== request.confirmPassword
                "
              >
                <span
                  *ngIf="
                    confirmPassword.touched &&
                    request.password !== request.confirmPassword
                  "
                >
                  <i class="bi bi-exclamation-circle"></i> Password and Confirm
                  Password does not match
                </span>
              </ng-container>
            </div>
          </div>
          <div class="d-grid mb-3">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="
                registerForm.invalid ||
                request.password !== request.confirmPassword ||
                isFormSubmitting
              "
              [class.btn-secondary]="
                registerForm.invalid ||
                request.password !== request.confirmPassword ||
                isFormSubmitting
              "
            >
              <span
                *ngIf="isFormSubmitting"
                class="spinner-border spinner-border-sm"
                role="status"
                ><span class="visually-hidden">Loading...</span></span
              ><span *ngIf="!isFormSubmitting">Sign up</span>
            </button>
          </div>
          <div class="text-center">
            Already have an account? <a routerLink="/login">Sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
